.DS_Store
.htaccess
/.buildpath
/.project
/.settings
/IMG/*
!/IMG/remove.txt
/config/*
!/config/remove.txt
!/config/ecran_securite.php
/ecrire/inc_connect.php3
/ecrire/inc_meta_cache.php3
/extensions
/lib
/local/*
!/local/remove.txt
!/local/CACHEDIR.TAG
/mutualisation
/plugins
/plugins-dist/
/sites
/squelettes
/squelettes-dist/
/themes
/tests
/tmp/*
!/tmp/remove.txt
!/tmp/CACHEDIR.TAG
