/**
 * ======
 * Layout
 * ======
 *
 * Organisation :
 *
 * 1. Layout général de la page
 *    1.1. Disposition par défaut
 *    1.x. Autres dispositions : pleine largeur, etc.
 * 2. Utilitaires
 * 3. Grenier / à ranger
 *
 * Breakpoints : 780px / 960px / 1200px
 *
 * Markup :
 *
 * body
 *   #bando_haut
 *     #bando_xxx (x4)
 *       .largeur
 *   #page
 *     .largeur
 *       #haut
 *       #conteneur[.<disposition>]
 *         #navigation
 *         #extra
 *         #contenu
 *   #pied
 *     .largeur
 */


/**
 * ============
 * 0. Variables
 * ============
 */


:root {
	/* Gouttière horizontale */
	--spip-layout-gap: 10px; /* clamp(10px, 2vw, 25px); */
	/* Largeur max de la page, */
	--spip-layout-page-width: 1480px;
	/* Largeur des colonnes */
	--spip-layout-column-width: 25%;
	/* Largeur limitée afin que les textes fassent environ 70 caractères max par ligne */
	--spip-layout-text-width: 75ch;
	/* Largeur limitée de certains formulaires */
	--spip-layout-form-width: 50em;
	/* Largeur réellement disponible, en tenant compte des gouttières */
	--spip-vw: calc(var(--spip-layout-page-width) - (var(--spip-layout-gap) * 2));
}
@media (min-width: 720px) {
	:root {
		--spip-layout-gap: 20px;
	}
}
@media (min-width: 1200px) {
	:root {
		--spip-layout-gap: 25px;
		--spip-layout-column-width: 20%; /* 3 colonnes donc plus petit */
	}
}


/**
 * ============================
 * 1. Layout général de la page
 * ============================
 */


html, body {
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
}
.largeur {
	box-sizing: border-box;
	width: 100%;
	max-width: var(--spip-layout-page-width);
	margin-inline: auto;
	padding-inline: var(--spip-layout-gap);
}
#haut {
	margin-block-start: var(--spip-spacing-y);
}
/* Coller le footer en bas */
body {
	display: flex;
	flex-flow: column;
}
#page {
	overflow: initial !important; /* Sinon aucun élément en position sticky ne fonctionne */
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}


/**
 * 1.1. Contenu central : disposition par défaut
 * =============================================
 */

/**
 * Mobiles : 1 seule colonne
 */
#conteneur {
	display: flex;
	flex-flow: column;
}
#contenu {
	order: 2;
	overflow-x: scroll; /* Tableaux qui dépassent : ne pas faire scroller toute la page */
	min-width: 0; /* Fix grid avec tableaux qui dépassent */
}
#navigation {
	order: 1;
	overflow-wrap: break-word;
}
#extra {
	order: 3;
	overflow-wrap: break-word;
}
/* Safeguard pour placer des éléments en sticky dans les 3 blocs principaux : .ajaxbloc doit prendre toute la hauteur du parent */
#contenu > .ajaxbloc:only-child,
#navigation > .ajaxbloc:only-child,
#extra > .ajaxbloc:only-child {
	height: 100%;
}

/**
 * Écrans moyens : 2 colonnes
 */
@media (min-width: 720px) {
	#conteneur {
		display: grid;
		column-gap: var(--spip-layout-gap);
		grid-template-rows: auto 1fr;
		grid-template-columns:
			var(--spip-layout-column-width) /* navigation & extra */
			1fr;                            /* contenu */
		grid-template-areas:
			"navigation contenu"
			"extra      contenu";
	}
	#contenu {
		grid-area: contenu;
		overflow-x: initial;
	}
	#navigation {
		grid-area: navigation;
	}
	#extra {
		grid-area: extra;
	}
}

/**
 * Écrans larges : 3 colonnes
 */
@media (min-width: 1200px) {
	#conteneur {
		grid-template-columns:
			var(--spip-layout-column-width)  /* navigation */
			1fr                              /* contenu */
			var(--spip-layout-column-width); /* extra */
		grid-template-areas:
			"navigation contenu extra"
			"navigation contenu extra";
	}
}


/**
 * 1.2. Disposition 1 : pleine_largeur
 * =================================
 * Pas de contenus complémentaires #nav ni #extra
 */
#conteneur.layout-1,
#conteneur.layout-pleine_largeur {
	display: block !important;
}
.layout-1 #navigation,
.layout-pleine_largeur #navigation,
.layout-1 #extra,
.layout-pleine_largeur #extra {
	display: none;
}
/* Limiter la largeur de certains éléments */
.layout-1 .formulaire_spip,
.layout-pleine_largeur .formulaire_spip {
	max-width: var(--spip-layout-form-width);
	margin-inline: auto;
}

/**
 * 1.3. Disposition 2 : complements_gauche
 * =======================================
 * Contenus complémentaires #nav et #extra à gauche
 */
@media (min-width: 1200px) {
	#conteneur.layout-2,
	#conteneur.layout-complements_gauche {
		grid-template-areas:
			"navigation contenu"
			"extra      contenu";
		grid-template-columns: var(--spip-layout-column-width) 1fr;
	}
}

/**
 * 1.4. Disposition 3 : complements_droite
 * =======================================
 * Contenus complémentaires #nav et #extra à droite
 */
@media (min-width: 1200px) {
	#conteneur.layout-3,
	#conteneur.layout-complements_droite {
		grid-template-areas:
			"contenu navigation"
			"contenu extra";
		grid-template-columns: 1fr var(--spip-layout-column-width);
	}
}

/**
 * 1.5. Disposition 4 : complements_bas
 * ====================================
 * Contenus complémentaires #nav et #extra sous le contenu principal
 */
 @media (min-width: 1200px) {
	#conteneur.layout-4,
	#conteneur.layout-complements_bas {
		grid-template-areas:
			"contenu contenu"
			"navigation extra";
		grid-template-columns: 1fr 1fr;
	}
}

/**
 * 1.5. Disposition 5 : complements_bas_inverse
 * ============================================
 * Contenus complémentaires #nav et #extra sous le contenu principal
 */
 @media (min-width: 1200px) {
	#conteneur.layout-5,
	#conteneur.layout-complements_bas_inverse {
		grid-template-areas:
			"contenu contenu"
			"extra navigation";
		grid-template-columns: 1fr 1fr;
	}
}

/**
 * 1.6. Disposition 6 : fluide
 * ===========================
 * Idem disposition de base, sauf que le contenu principal prend tout l'espace dispo
 */
 @media (min-width: 1200px) {
	#conteneur.layout-6,
	#conteneur.layout-fluide {
		grid-template-columns: auto 1fr auto;
	}
}


/**
 * ==============
 * 2. Utilitaires
 * ==============
 * Classes utilitaires applicables à n'importe quel élément
 */


.centered {
	margin: 0 auto;
	text-align: center; /* Vraiment nécessaire ? */
}


/**
 * =====================
 * 3. Grenier + à ranger
 * =====================
 */


/* ??? */
.table_page {
	max-width: var(--spip-layout-page-width);
	/* min-width: 960px; */ /* pour > 720px  */
	margin-inline: auto;
	margin-block-start: 1em;
	clear: both;
	text-align: start;
}

/* Messages alertes old school, ex. : crash de la bdd */
.wrap-messages-alertes {
	padding: 5px 10px;
	background-color: var(--spip-color-gray-lighter);
}
@media (min-width: 960px) {
	.wrap-messages-alertes {
		padding: 5px 20px;
	}
}
.messages-alertes {
	max-width: var(--spip-layout-page-width);
	/* min-width: 960px; */ /* pour > 720px  */
	margin-inline: auto;
	text-align: end;
	clear: both;
}
